@import 'root.css';


#election {
    position: relative;
    top: 50px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 7%;
}

.block {
    margin-bottom: 2%;
    border-radius: 5px;
    border: solid 1px lightgrey;
    background-color: white;
    padding: 2% 0;
}

.block>div {
    width: 93%;
    margin: 0 auto;
}

p#election-title {
    justify-content: center;
    font-weight: bold;
    font-size: 4vh;
    margin-left: 3.5%;
    margin-bottom: 3.5%;
}

p.rtitle {
    width: 25%;
    margin: .5% 0;
    font-size: 3vh;
    justify-content: center;
    margin-left: 10%;
}

input.rvalue,
select.rvalue,
textarea.rvalue {
    width: 80%;
    outline: none;
    border: none;
    font-size: 3vh;
    border-bottom: solid 2px var(--primary-color);
    justify-content: center;
    margin-left: 10%;
}

textarea.rvalue {
    border-right: solid 2px var(--primary-color);
    resize: vertical;
    height: fit-content;
    min-height: 5vh;
}

div#btn {
    width: 100%;
    display: flex;
    padding-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#back-btn, #create-btn {
    margin-left: 20%;
    font-size: 2vh;
    font-weight: bold;
    width: 15vh;
    text-align: center;
    padding: 1% 0;
    border-radius: 10px;
    text-decoration: none;
    border: solid 5px var(--green-color);
    color: var(--green-color);
    background-color: white;
    outline: none;
    cursor: pointer;
}

#create-btn{
    float: right;
}

#back-btn:hover, #create-btn:hover{
    border-color: var(--link-color);
    background-color: white;
    color: var(--link-color);
}